body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, silver, red);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.contact {
    text-align: center;
    padding: 50px;
    background: white;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contact p {
    font-size: 16px;
    color: #555;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact textarea {
    resize: none;
    height: 100px;
}

.contact button {
    background-color: #e67e22;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.3s ease;
	
}

.contact button:hover {
    background-color: #d35400;
    transform: scale(1.05);
}


footer {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, silver, red);
    color: white;
    position: relative;
    width: 100%;
    font-size: 16px;
}
